{% extends '_layout\core.html' %}

{% block title%}Acerca de{% endblock title %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-light">
    <div class="container">
      <h1>Personas ordinarias con ideas extraordinarias</h1>
      <p>Conoce a las mentes detrás de todo.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>Miguel Guzmán</h2>
        <p>2015-1306</p>
        <p><a class="btn btn-secondary" href="https://miguelguzman.carrd.co" target="_blank" role="button">Conocer
            más</a></p>
      </div>
      <div class="col-md-3">
        <h2>Winston Cruz</h2>
        <p>2017-0007</p>
        <p><a class="btn btn-secondary" href="#" role="button">Conocer más</a></p>
      </div>
      <div class="col-md-3">
        <h2>Brian Correa</h2>
        <p>2017-0343</p>
        <p><a class="btn btn-secondary" href="#" role="button">Conocer más</a></p>
      </div>
      <div class="col-md-3">
        <h2>Erick Pimentel</h2>
        <p>2017-0370</p>
        <p><a class="btn btn-secondary" href="#" role="button">Conocer más</a></p>
      </div>
    </div>

  </div> <!-- /container -->

</main>
{% endblock content%}