{% extends '_layout\core.html' %}

{% block title%}Inicio{% endblock title %}

{% block content %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron bg-light">
        <div class="container">
          <h1 class="display-3">¡Hola, mundo!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum eros tellus, at vulputate lacus tempor eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis rutrum sagittis.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Título</h2>
            <p>Mauris ullamcorper molestie leo at dapibus. Phasellus ullamcorper justo erat, ut dignissim lectus fermentum sit amet.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más</a></p>
          </div>
          <div class="col-md-4">
            <h2>Título</h2>
            <p>Maecenas consequat lectus vitae nulla pulvinar fermentum. Vestibulum viverra lacinia blandit. Nunc et ipsum arcu. Nam mollis et nunc et convallis.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más</a></p>
          </div>
          <div class="col-md-4">
            <h2>Título</h2>
            <p>Ut ultrices euismod mauris ornare auctor. Integer fringilla libero ac ipsum vulputate posuere. Cras pretium quis nisl eget iaculis. Duis bibendum hendrerit mauris, a posuere dolor facilisis ac.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más</a></p>
          </div>
        </div>

      </div> <!-- /container -->

    </main>
{% endblock content%}