{% extends '_layout\core.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron bg-light">
        <div class="container text-center">
          <h1 class="display-3">Proyecto Caja</h1>
          {% if user.is_authenticated %}
            <p class="lead">Gracias por autenticarte, {{ user.username }}.</p>
          {% else %}
            <p class="lead">Para comenzar, inicie sesión...</p>
          {% endif %}
        </div>
      </div> <!-- /container -->

    </main>
{% endblock content%}