{% extends '_layout\core.html' %}

{% block title%}Crear Carrera{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'carreras' %}">Carreras</a></li>
          <li class="breadcrumb-item active">Crear</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="carr_codi">Código</label>
              <input class="form-control" type="text" name="carr_codi" id="carr_codi" maxlength="3" required pattern="[A-Z]+" title="Solo debe contener letras mayusculas">
            </div>
            <div class="form-group">
              <label for="carr_nomb">Nombre</label>
              <input class="form-control" type="text" name="carr_nomb" id="carr_nomb" pattern="[A-za-z áéíóú]+" maxlength="30" required title="Solo debe contener letras mayusculas y minusculas">
            </div>
            <div class="form-check" hidden>
              <input class="form-check-input" type="checkbox" name="carr_acti" id="carr_acti" checked>
              <label class="form-check-label" for="carr_acti">
                Habilitada
              </label>
            </div>
            <div class="text-center">
              <a class="btn text-secondary" href="{% url 'carreras' %}" role="button">Volver</a>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock content %}