    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.js" integrity="sha256-K0KkaRh1fs/UYfKcnzBK9G/X7HgzuaeVI1hJPS8Sxs4=" crossorigin="anonymous"></script>

    <script>

        $( document ).ready(function() {           
            var field = $('#field');
            var query = $('#query');
            var query2 = $('#query2');

            query2.hide(); 

            if(field.prop('value') === 'emp_id'){
                query.prop('type', 'number');
            }

            field.on('change', function(){  
                if(this.value !== 'emp_entra' || this.value !== 'emp_sale'){
                    query.prop('type', 'text');
                    query2.hide();
                }

                if(this.value === 'emp_entra' || this.value === 'emp_sale'){
                    query.prop('type', 'date');
                    query2.show();              
                }
                else if(this.value === 'emp_id' || this.value === 'emp_cedu'){
                    query.prop('type', 'number');
                }
                else {
                    query.prop('type', 'text');
                    query.prop('pattern', '[A-za-z ÁÉÍÓÚáéíóúü&]+');
                    query.prop('title', 'Solo puede contener caracteres alfabéticos.');
                }
            })
        });
       
    </script>