{% extends '_layout\core.html' %}

{% block title%}Crear Producto{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'productos' %}">Producto</a></li>
          <li class="breadcrumb-item active">Crear</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="prod_nomb">Nombre</label>
              <input class="form-control" type="text" name="prod_nomb" id="prod_nomb" maxlength="30" required>
            </div>
            <div class="form-group">
              <label for="prod_prec">Precio (RD$)</label>
              <input class="form-control" type="number" name="prod_prec" id="prod_prec" min="0" max="9999999999.99" required>
            </div>
            <div class="form-check" hidden>
              <input class="form-check-input" type="checkbox" name="prod_acti" id="prod_acti" checked>
              <label class="form-check-label" for="prod_acti">
                Habilitado
              </label>
            </div>
            <div class="text-center mb-3">
              <a class="btn text-secondary" href="{% url 'productos' %}" role="button">Volver</a>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
        {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          No tiene los permisos suficientes para ver este contenido
        </div>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          Para continuar, debe iniciar sesión
        </div>
      </div>
    </div>
  {% endif %}
    {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          No tiene los permisos suficientes para ver este contenido
        </div>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          Para continuar, debe iniciar sesión
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}