{% extends '_layout\core.html' %}

{% block title%}Actualizar Tipo de Cliente{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'tipos_cliente' %}">Tipos de Cliente</a></li>
          <li class="breadcrumb-item active">Actualizar</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="tcli_nomb">Nombre</label>
              <input class="form-control" type="text" name="tcli_nomb" id="tcli_nomb" maxlength="30" required value="{{ tipo_cliente.tcli_nomb }}">
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" name="tcli_acti" id="tcli_acti"{% if tipo_cliente.tcli_acti %} checked{% endif %}>
              <label class="custom-control-label" for="tcli_acti">Habilitado</label>
            </div>
            <div class="text-center">
              <a class="btn text-secondary" href="{% url 'tipos_cliente' %}" role="button">Volver</a>
              <button type="submit" class="btn btn-primary ">Listo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}