{% extends '_layout\core.html' %}

{% block title %}Crear Movimiento{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
    {% endfor %}
  {% endif %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'movimientos' %}">Movimientos</a></li>
          <li class="breadcrumb-item active">Crear</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
          <form method="POST">
            {% csrf_token %}
            {% if documento.doc_id %}
            <div class="text-center">
              <p class="lead">{{ documento.cli_id.nombre_completo }}</p>
            </div>
            <div class="text-center">
              <p>#{{ documento.doc_id }}</p>
              <p>Pendiente: {{ documento.pendiente|stringformat:'0.02f' }}</p>
            </div>
            <div class="form-group" hidden>
              <label for="doc_id">Documento</label>
              <input class="form-control" type="number" name="doc_id" id="doc_id" value="{{ documento.doc_id }}">
            </div>
            {% endif %}
            {% if empleado %}
            <div class="form-group" hidden>
              <label for="emp_id">Empleado</label>
              <select class="form-control" name="emp_id" id="emp_id" required>
                <option value="{{ empleado.emp_id }}" selected>{{ empleado.emp_nomb }} {{ empleado.emp_ape1 }}</option>
              </select>
            </div>
            {% endif %}
            {% if formas_pago %}
            <div class="form-group">
              <label for="fpago_id">Formas de pago</label>
              <select class="form-control" name="fpago_id" id="fpago_id" required>
                <option value="">Elegir forma de pago...</option>
                  {% for forma_pago in formas_pago %}
                <option value="{{ forma_pago.fpago_id }}">{{ forma_pago.fpago_nomb }}</option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="form-group">
              <label for="mov_monto">Abono</label>
              <input class="form-control" type="number" name="mov_monto" id="mov_monto" value="0" min="0" max="{{ documento.pendiente|stringformat:'0.02f' }}" step="0.01">
            </div>
            <div class="form-check" hidden>
              <input class="form-check-input" type="checkbox" name="mov_acti" id="mov_acti" checked>
              <label class="form-check-label" for="mov_acti">
                Habilitado
              </label>
            </div>
            <div class="text-center my-3">
              <a class="btn text-secondary" href="{% url 'documentos' %}" role="button">Volver</a>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
var $sincronizar = $(".sincronizar").on('change', function() {
  $sincronizar.not(this).get(0).selectedIndex = this.selectedIndex;
});
</script>
{% endblock %}