{% extends '_layout\core.html' %}

{% block title %}Crear Empleado{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
    {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'empleados' %}">Empleados</a></li>
          <li class="breadcrumb-item active">Crear</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="emp_nomb">Nombre</label>
              <input class="form-control" type="text" name="emp_nomb" id="emp_nomb" value="{{ form.emp_nomb.value|default_if_none:'' }}" maxlength="60" pattern="[A-za-z ÁÉÍÓÚáéíóúü&]+" title="Solo puede contener caracteres alfabéticos." required>
            </div>
            <div class="form-group">
              <label for="emp_ape1">Apellido Paterno</label>
              <input class="form-control" type="text" name="emp_ape1" id="emp_ape1" value="{{ form.emp_ape1.value|default_if_none:'' }}" maxlength="30" pattern="[A-za-z ÁÉÍÓÚáéíóúü&]+" title="Solo puede contener caracteres alfabéticos." required>
            </div>
            <div class="form-group">
              <label for="emp_ape2">Apellido Materno</label>
              <input class="form-control" type="text" name="emp_ape2" id="emp_ape2" value="{{ form.emp_ape2.value|default_if_none:'' }}" maxlength="30" pattern="[A-za-z ÁÉÍÓÚáéíóúü&]+" title="Solo puede contener caracteres alfabéticos.">
            </div>
            <div class="form-group">
              <label for="emp_cedu">Cédula de Identidad</label>
              <input class="form-control" type="text" name="emp_cedu" id="emp_cedu" value="{{ form.emp_cedu.value|default_if_none:'' }}" minlength="11" maxlength="11" pattern="[0-9]+" title="Solo puede contener caracteres numéricos.">
            </div>
            {% if usuarios %}
            <div class="form-group">
              <label for="usu_id">Usuario</label>
              <select class="form-control" name="usu_id" id="usu_id" required>
                <option value="">Elegir usuario...</option>
                  {% for usuario in usuarios %}
                <option value="{{ usuario.id }}"{% if form.usu_id.value == usuario.id|slugify %} selected{% endif %}>{{ usuario.username }}</option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="form-group">
              <label for="emp_entra">Fecha de Entrada</label>
              <input class="form-control" type="date" name="emp_entra" id="emp_entra" value="{{ form.emp_entra.value|default_if_none:'' }}" required>
            </div>
            {% if horarios %}
            <div class="form-group">
              <label for="hor_id">Horario</label>
              <select class="form-control" name="hor_id" id="hor_id" required>
                <option value="">Elegir horario...</option>
                  {% for horario in horarios %}
                <option value="{{ horario.hor_id }}"{% if form.hor_id.value == horario.hor_id|slugify %} selected{% endif %}>{{ horario.hor_nomb }} (de {{ horario.hor_entra }} a {{ horario.hor_sale }})</option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="form-check" hidden>
              <input class="form-check-input" type="checkbox" name="emp_acti" id="emp_acti" checked>
              <label class="form-check-label" for="emp_acti">
                Habilitado
              </label>
            </div>
            <div class="text-center my-3">
              <a class="btn text-secondary" href="{% url 'empleados' %}" role="button">Volver</a>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          No tiene los permisos suficientes para ver este contenido
        </div>
      </div>
    </div>
    {% endif %}
  {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          Para continuar, debe iniciar sesión
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}