{% extends '_layout\core.html' %}

{% block title %}Empleados{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active">Empleados</li>
        </ol>
      </nav>
      <div class="row justify-content-center justify-content-md-between px-4 mb-3">
        <form>
          <div class="form-inline col">
            <select class="form-control mb-2 my-1 mr-sm-2" name="field" id="field">
              <option value="emp_id"{% if request.GET.field == 'emp_id' %} selected{% endif %}>ID</option>
              <option value="emp_nomb"{% if request.GET.field == 'emp_nomb' %} selected{% endif %}>Nombre</option>
              <option value="emp_ape1"{% if request.GET.field == 'emp_ape1' %} selected{% endif %}>Apellido Paterno</option>
              <option value="emp_ape2"{% if request.GET.field == 'emp_ape2' %} selected{% endif %}>Apellido Materno</option>
              <option value="emp_cedu"{% if request.GET.field == 'emp_cedu' %} selected{% endif %}>Cédula de Identidad</option>
              <option value="usu_nomb"{% if request.GET.field == 'usu_nomb' %} selected{% endif %}>Nombre de Usuario</option>
              <option value="usu_tipo"{% if request.GET.field == 'usu_tipo' %} selected{% endif %}>Tipo Usuario</option>
              <option value="hor_nomb"{% if request.GET.field == 'hor_nomb' %} selected{% endif %}>Horario</option>
              <option value="emp_entra"{% if request.GET.field == 'emp_entra' %} selected{% endif %}>Fecha de Entrada</option>
              <option value="emp_sale"{% if request.GET.field == 'emp_sale' %} selected{% endif %}>Fecha de Salida</option>
              <option value="emp_acti"{% if request.GET.field == 'emp_acti' %} selected{% endif %}>Activo</option>
            </select>
            <input class="form-control ml-sm-1 mb-2 my-1 mr-md-2" type="text" name="query" id="query"{% if request.GET.query %} value="{{ request.GET.query }}"{% endif %} placeholder="Búsqueda" required>
            <input class="form-control ml-sm-1 mb-2 my-1 mr-md-2" type="date" name="query2" id="query2"{% if request.GET.query2 %} value="{{ request.GET.query2 }}"{% endif %}>
            <div class="custom-control custom-checkbox my-1">
              <input class="custom-control-input" type="checkbox" name="match" id="match"{% if request.GET.match %} checked{% endif %}>
              <label class="custom-control-label" for="match">Concidencia exacta</label>
            </div>
            <button type="submit" class="btn btn-primary ml-2">Buscar</button>
            {% if filtered %}<a class="btn btn-secondary ml-2" href="{% url 'empleados' %}" role="button">Reestablecer</a>{% endif %}
          </div>
        </form>
        <div class="row mt-3 mt-lg-0">
          <div class="col text-center">
            <a class="btn btn-success" href="{% url 'empleado_create' %}" role="button">Crear</a>
          </div>
        </div>
      </div>
      <div class="card-group">
  {% if empleados %}
    {% for empleado in empleados %}
        <div class="col-sm-4">
          <div class="card mt-3">
            <div class="card-header">
              <h6><span class="badge badge-primary">#{{ empleado.emp_id }}</span> {{ empleado.emp_nomb }} {{ empleado.emp_ape1 }}{% if empleado.emp_ape2 %} {{ empleado.emp_ape2 }}{% endif %}</h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-id-card"></i> {% if empleado.emp_cedu %}{{ empleado.emp_cedu }}{% else %}N/A{% endif %}</li>
              <li class="list-group-item"><i class="fa fa-user-circle"></i> {{ empleado.usu_id.username }}</li>
              <li class="list-group-item"><i class="fa fa-key"></i> {% if empleado.usu_id.is_superuser %}Administrador{% else %}{% if empleado.usu_id.is_staff %}Empleado{% endif %}{% endif %}{% if not empleado.usu_id.is_active %} (Inactivo){% endif %}</li>
              <li class="list-group-item"><i class="fa fa-clock-o"></i> {{ empleado.hor_id.hor_nomb }} ({{ empleado.hor_id.hor_entra }} a {{ empleado.hor_id.hor_sale }})</li>
              <li class="list-group-item"><i class="fa fa-sign-in"></i> Entró el {{ empleado.emp_entra }}</li>
              <li class="list-group-item"><i class="fa fa-sign-out"></i> {% if empleado.emp_sale %}Salió el {{ empleado.emp_sale }}{% else %}N/A{% endif %}</li>
              <li class="list-group-item">{% if empleado.emp_acti %}<i class="fa fa-check-square-o"></i> Activo{% else %}<i class="fa fa-times"></i> Inactivo{% endif %}</li>
            </ul>
            <div class="card-footer text-right">
              <a class="btn text-primary" href="{% url 'empleado_update' empleado.emp_id %}" role="button">Editar</a><a class="btn text-danger ml-3" href="{% url 'empleado_delete' empleado.emp_id %}" role="button">Eliminar</a>
            </div>
          </div>
        </div>
    {% endfor %}
  {% endif %}
      </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>

        $( document ).ready(function() {
            var field = $('#field');
            var query = $('#query');
            var query2 = $('#query2');

            query2.hide();

            if(field.prop('value') === 'emp_id'){
                query.prop('type', 'number');
            }

            field.on('change', function(){

                if(this.value !== 'emp_entra' || this.value !== 'emp_sale'){
                    query.prop('type', 'text');
                    query2.hide();
                }

                if(this.value === 'emp_entra' || this.value === 'emp_sale'){
                    query.prop('type', 'date');
                    query2.show();
                }
                else if(this.value === 'emp_id' || this.value === 'emp_cedu'){
                    query.prop('type', 'number');
                }
                else {
                    query.prop('type', 'text');
                    query.prop('pattern', '[A-za-z ÁÉÍÓÚáéíóúü&]+');
                    query.prop('title', 'Solo puede contener caracteres alfabéticos.');
                }
            })
        });

    </script>
{% endblock %}