{% extends '_layout\core.html' %}

{% block title %}Empleados{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active">Empleados</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col text-center">
          <form>
            <div class="form-row form-group">
              <div class="col">
                <select class="form-control" name="field" id="field">
                  <option value="emp_id"{% if request.GET.field == 'emp_id' %} selected{% endif %}>ID</option>
                  <option value="emp_nomb"{% if request.GET.field == 'emp_nomb' %} selected{% endif %}>Nombre</option>
                  <option value="emp_ape1"{% if request.GET.field == 'emp_ape1' %} selected{% endif %}>Apellido Paterno</option>
                  <option value="emp_ape2"{% if request.GET.field == 'emp_ape2' %} selected{% endif %}>Apellido Materno</option>
                  <option value="emp_cedu"{% if request.GET.field == 'emp_cedu' %} selected{% endif %}>Cédula de Identidad</option>
                  <option value="usu_nomb"{% if request.GET.field == 'usu_nomb' %} selected{% endif %}>Nombre de Usuario</option>
                  <option value="usu_tipo"{% if request.GET.field == 'usu_tipo' %} selected{% endif %}>Tipo Usuario</option>
                  <option value="hor_nomb"{% if request.GET.field == 'hor_nomb' %} selected{% endif %}>Horario</option>
                  <option value="emp_entra"{% if request.GET.field == 'emp_entra' %} selected{% endif %}>Fecha de Entrada</option>
                  <option value="emp_sale"{% if request.GET.field == 'emp_sale' %} selected{% endif %}>Fecha de Salida</option>
                  <option value="emp_acti"{% if request.GET.field == 'emp_acti' %} selected{% endif %}>Activo</option>
                </select>
              </div>
              <div class="col">
                  <input class="form-control" type="text" name="query" id="query"{% if request.GET.query %} value="{{ request.GET.query }}"{% endif %} placeholder="Búsqueda" required>
              </div>
              <div class="col" id="query2">
                <input class="form-control" type="date" name="query2" id="query2"{% if request.GET.query2 %} value="{{ request.GET.query2 }}"{% endif %}>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="match" id="match"{% if request.GET.match %} checked{% endif %}>
                <label class="custom-control-label" for="match">Concidencia exacta</label>
              </div>
            </div>
            <div class="form-group">
              <a class="btn btn-success ml-2" href="{% url 'empleado_create' %}" role="button">Crear</a>
              <button type="submit" class="btn btn-primary ml-2 my-2 my-lg-0">Buscar</button>
              {% if filtered %}<a class="btn btn-secondary ml-2 my-2 my-lg-0" href="{% url 'empleados' %}" role="button">Reestablecer</a>{% endif %}
            </div>
            <div class="form-group">
              <div class="btn-group btn-group-sm" role="group">
                <button type="submit" class="btn btn-secondary btn-sm my-2 my-lg-0" formaction="{% url 'empleados_print' %}" role="button" formnovalidate><i class="fa fa-print mx-1"></i>Imprimir</a></button>
                <button type="submit" class="btn btn-secondary btn-sm my-2 my-lg-0" formaction="{% url 'empleados_excel' %}" role="button" formnovalidate><i class="fa fa-file-excel-o mx-1"></i>Exportar a Excel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-group">
  {% if empleados %}
    {% for empleado in empleados %}
        <div class="col-sm-4">
          <div class="card my-3">
            <div class="card-header">
              <h6><span class="badge badge-primary">#{{ empleado.emp_id }}</span> {{ empleado.emp_nomb }} {{ empleado.emp_ape1 }}{% if empleado.emp_ape2 %} {{ empleado.emp_ape2 }}{% endif %}</h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-id-card"></i> {% if empleado.emp_cedu %}{{ empleado.emp_cedu }}{% else %}N/A{% endif %}</li>
              <li class="list-group-item"><i class="fa fa-user-circle"></i> {{ empleado.usu_id.username }}</li>
              <li class="list-group-item"><i class="fa fa-key"></i> {% if empleado.usu_id.is_superuser %}Administrador{% else %}{% if empleado.usu_id.is_staff %}Empleado{% endif %}{% endif %}{% if not empleado.usu_id.is_active %} (Inactivo){% endif %}</li>
              <li class="list-group-item"><i class="fa fa-clock-o"></i> {{ empleado.hor_id.hor_nomb }} ({{ empleado.hor_id.hor_entra }} a {{ empleado.hor_id.hor_sale }})</li>
              <li class="list-group-item"><i class="fa fa-sign-in"></i> Entró el {{ empleado.emp_entra }}</li>
              <li class="list-group-item"><i class="fa fa-sign-out"></i> {% if empleado.emp_sale %}Salió el {{ empleado.emp_sale }}{% else %}N/A{% endif %}</li>
              <li class="list-group-item">{% if empleado.emp_acti %}<i class="fa fa-check-square-o"></i> Activo{% else %}<i class="fa fa-times"></i> Inactivo{% endif %}</li>
            </ul>
            <div class="card-footer text-right">
              <a class="btn text-primary btn-lg" href="{% url 'empleado_update' empleado.emp_id %}" role="button"><i class="fa fa-pencil"></i></a>
              <a class="btn text-secondary btn-lg ml-3" href="{% url 'empleado_print' empleado.emp_id %}" role="button"><i class="fa fa-print"></i></a>
              <a class="btn text-danger btn-lg ml-3" href="{% url 'empleado_delete' empleado.emp_id %}" role="button"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
    {% endfor %}
  {% endif %}
    {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          No tiene los permisos suficientes para ver este contenido
        </div>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="row mt-3">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          Para continuar, debe iniciar sesión
        </div>
      </div>
    </div>
  {% endif %}
      </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>

        $( document ).ready(function() {
            var field = $('#field');
            var query = $('#query');
            var query2 = $('#query2');

            query2.hide();
            query2.prop('required', 'false');

            if (field.prop('value') === 'emp_entra' || field.prop('value') === 'emp_sale') {
              query.prop('type', 'date');
              query2.show();
              query2.prop('required', 'true');
            }
            else if (field.prop('value') === 'emp_id' || field.prop('value') === 'emp_cedu') {
              query.prop('type', 'number');
            }
            else {
              query.prop('type', 'text');
              query.prop('pattern', '[A-za-z ÁÉÍÓÚáéíóúü&]+');
              query.prop('title', 'Solo puede contener caracteres alfabéticos.');
            }

            field.on('change', function(){
                if(field.prop('value') !== 'emp_entra' || field.prop('value') !== 'emp_sale'){
                    query.prop('type', 'text');
                    query2.hide();
                }

                if(field.prop('value') === 'emp_entra' || field.prop('value') === 'emp_sale'){
                    query.prop('type', 'date');
                    query2.show();
                }
                else if(field.prop('value') === 'emp_id' || field.prop('value') === 'emp_cedu'){
                    query.prop('type', 'number');
                }
                else {
                    query.prop('type', 'text');
                    query.prop('pattern', '[A-za-z ÁÉÍÓÚáéíóúü&]+');
                    query.prop('title', 'Solo puede contener caracteres alfabéticos.');
                }
            })
        });

    </script>
{% endblock %}