{% extends '_layout\core.html' %}

{% block title %}Actualizar Empleado{% endblock title %}

{% block content %}
    <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      {{ error|escape }}
      </div>
    {% endfor %}
  {% endif %}
      <nav>
        <ol class="breadcrumb bg-light mt-3">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'empleados' %}">Empleados</a></li>
          <li class="breadcrumb-item active">Actualizar</li>
        </ol>
      </nav>
      <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="emp_nomb">Nombre</label>
              <input class="form-control" type="text" name="emp_nomb" id="emp_nomb" value="{{ form.emp_nomb.value|default_if_none:empleado.emp_nomb }}" maxlength="60" pattern="[A-za-z ÁÉÍÓÚáéíóúü&]+" title="Solo puede contener caracteres alfabéticos." required>
            </div>
            <div class="form-group">
              <label for="emp_ape1">Apellido Paterno</label>
              <input class="form-control" type="text" name="emp_ape1" id="emp_ape1" value="{{ form.emp_ape1.value|default_if_none:empleado.emp_ape1 }}" maxlength="30" pattern="[A-za-z ÁÉÍÓÚáéíóúü&]+" title="Solo puede contener caracteres alfabéticos." required>
            </div>
            <div class="form-group">
              <label for="emp_ape2">Apellido Materno</label>
              <input class="form-control" type="text" name="emp_ape2" id="emp_ape2" value="{{ form.emp_ape2.value|default_if_none:empleado.emp_ape2|default_if_none:'' }}" maxlength="30" pattern="[A-za-z ÁÉÍÓÚáéíóúü&]+" title="Solo puede contener caracteres alfabéticos.">
            </div>
            <div class="form-group">
              <label for="emp_cedu">Cédula de Identidad</label>
              <input class="form-control" type="number" name="emp_cedu" id="emp_cedu" value="{{ form.emp_cedu.value|default_if_none:empleado.emp_cedu|default_if_none:'' }}" minlength="11" maxlength="11" pattern="[0-9]+" title="Solo puede contener caracteres numéricos.">
            </div>
            {% if usuarios %}
            <div class="form-group">
              <label for="usu_id">Usuario</label>
              <select class="form-control" name="usu_id" id="usu_id" required value>
                  {% for usuario in usuarios %}
                    {% if form.usu_id.value|default_if_none:empleado.usu_id.id|slugify == usuario.id|slugify  %}
                <option value="{{ usuario.id }}" selected>{{ usuario.username }}</option>
                    {% else %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                    {% endif %}
                  {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="form-group">
              <label for="emp_entra">Fecha de Entrada</label>
              <input class="form-control" type="date" name="emp_entra" id="emp_entra" value="{% if form.emp_entra.value %}{{ form.emp_entra.value }}{% else %}{{ empleado.emp_entra|date:'Y-m-d' }}{% endif %}" required>
            </div>
            <div class="form-group">
              <label for="emp_sale">Fecha de Salida</label>
              <input class="form-control" type="date" name="emp_sale" id="emp_sale" value="{% if form.emp_sale.value %}{{ form.emp_sale.value }}{% else %}{{ empleado.emp_sale|date:'Y-m-d' }}{% endif %}">
            </div>
            {% if horarios %}
            <div class="form-group">
              <label for="hor_id">Horario</label>
              <select class="form-control" name="hor_id" id="hor_id" required>
                  {% for horario in horarios %}
                    {% if form.hor_id.value|default_if_none:empleado.hor_id.hor_id|slugify == horario.hor_id|slugify  %}
                <option value="{{ horario.hor_id }}" selected>{{ horario.hor_nomb }} (de {{ horario.hor_entra }} a {{ horario.hor_sale }})</option>
                    {% else %}
                <option value="{{ horario.hor_id }}">{{ horario.hor_nomb }} (de {{ horario.hor_entra }} a {{ horario.hor_sale }})</option>
                    {% endif %}
                  {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="custom-control custom-checkbox text-center">
              <input class="custom-control-input" type="checkbox" name="emp_acti" id="emp_acti"{% if form.emp_acti.value and empleado.emp_acti %} checked{% endif %}>
              <label class="custom-control-label" for="emp_acti">Activo</label>
            </div>
            <div class="text-center my-3">
              <a class="btn text-secondary" href="{% url 'empleados' %}" role="button">Volver</a>
              <button type="submit" class="btn btn-primary">Listo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}